<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AT_HomeTask4" parallel="tests" thread-count="4">
  <test name="AutomationPractice Chrome Tests">
    <parameter name="testDataFileName" value="default.properties" />
    <parameter name="browserName" value="Chrome" />
    <classes>
      <class name="com.automationpractice.SearchTest" />
      <class name="com.automationpractice.CreateAccountInvalidEmailTest" />
      <class name="com.automationpractice.CreateAccountTest"></class>
    </classes>
  </test> <!-- Test -->

  <test name="AutomationPractice Firefox Tests">
    <parameter name="testDataFileName" value="default.properties" />
    <parameter name="browserName" value="Firefox" />
    <classes>
      <class name="com.automationpractice.SearchTest" />
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->